
table {
  width: 100%;
}

@media (max-width: 550px) {
  .find-filter-box {
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
    padding-bottom: 20px;
  }

}


.find-filter-box {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  .reset-filter-button {
    margin: 15px 0;
    height: 52px;
  }

  .search-form-field {
    padding-top: 15px;
  }

  .mat-accordion {
    flex-basis: 0;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;



    .mat-expansion-panel-header {
      height: 52px;
      width: 50vw;
    }

    .description-panel {
      justify-content: space-between;
    }
  }
}




::ng-deep {

  .mat-expansion-panel-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
    align-items: center;
  }

  .name-form-field {
    padding-top: 12px;
  }
}


//SLIDERS, LATER WILL BE COMPLETE WITH ANGULAR THEMING
// We need to use ::ng-deep to overcome view encapsulation
::ng-deep {


  .custom-slider {
    width: 150px;
    text-align: center;
  }

  .custom-slider .ngx-slider .ngx-slider-bar {
    background: #8b8b8b;
    left: 5.5px !important;
    max-height: 2px !important;

  }

  .custom-slider .ngx-slider .ngx-slider-selection {
    background: #673ab7;
    max-height: 2px !important;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer {
    background-color: #f0f0f0;
    transform: scale(0.65);
  }

  //.custom-slider .ngx-slider-model-value {
  //  right: 7px !important;
  //}
  //
  //.custom-slider .ngx-slider-model-high {
  //  right: 137px !important;
  //}

  .custom-slider .ngx-slider .ngx-slider-pointer:after {
    background-color: #673ab7;
  }

}
