<div class="find-box">
  <mat-form-field class="form-field" appearance="fill">
    <mat-label>Search...</mat-label>
    <input matInput type="text" [(ngModel)]="searchText" (ngModelChange)="resetFilters();tableHandler()">
    <button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear"
            (click)="searchText='';tableHandler()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>


  <mat-accordion class="headers-align" multi
                 matBadge="{{activeFilters()}}" matBadgePosition="before" matBadgeColor="warn">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Set up filters
        </mat-panel-title>
        <mat-panel-description class="description-panel">
          Type your filters
          <mat-icon>filter_list</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Device name</mat-label>
        <input matInput type="text" [(ngModel)]="filterDevice.deviceName" (ngModelChange)="resetSearch();tableHandler()">
        <button *ngIf="filterDevice.deviceName" matSuffix mat-icon-button aria-label="Clear"
                (click)="filterDevice.deviceName='';tableHandler()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Availability</mat-label>
        <mat-select [formControl]="devicesAvails" multiple (ngModelChange)="filterDevice.availability=$event; tableHandler()">
          <mat-option *ngFor="let avail of devicesAvailableList" [value]="avail">{{avail}}</mat-option>
        </mat-select>
      </mat-form-field>



    </mat-expansion-panel>
  </mat-accordion>

</div>

<div class="mat-elevation-z5">

  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="this.sortBy=$event;tableHandler()">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No.</th>
      <td mat-cell *matCellDef="let device"> {{device.id}} </td>
    </ng-container>

    <ng-container matColumnDef="deviceName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
      <td mat-cell *matCellDef="let device"> {{device.deviceName}} </td>
    </ng-container>

    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Rating</th>
      <td mat-cell *matCellDef="let device"> {{device.rating}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Price</th>
      <td mat-cell *matCellDef="let device"> {{device.price}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
