.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.app-name {
  margin-left: 8px;
}

.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
  margin-top: 68px;
}

.sidenav {
  width: 15%;
  max-width: 200px;

  font-size: 25px;
  text-align: center;
  padding-top: 15px;
}

.main-content {
  padding: 20px;
}

@media (max-width: 600px) {
  .sidenav-container {
    margin-top: 54px;
  }
}
