<!--<header>This navigation header</header>-->

<div class="container">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">Market App</h1>
  </mat-toolbar>


  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav mode="side" opened class="sidenav"
                 [fixedInViewport]="false" >
      Main menu

      <mat-nav-list>
        <a mat-list-item routerLink="/aboutus">About Us</a>
        <a mat-list-item routerLink="/devices">Devices</a>
      </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content class="main-content">

      <router-outlet></router-outlet>


    </mat-sidenav-content>
  </mat-sidenav-container>

</div>















